<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <script type="text/javascript" th:src="@{/js/style.js}"></script>
    <title>input</title>
</head>

<body>
    <header>
        <a th:href="@{/}">ヘッダー</a>
    </header>
    <div class="error">
        <p class="error-message">エラーメッセージ</p>
    </div>
    <div class="form">
        <form action="sendSet" th:action="@{sendSet}">
            <div class="form_form">
            <div class="form-nameKana">
                <div class="form-name">
                    <h2 class="column-title">名前</h2>
                    <p class="err_msg" id="name_err1">名前を入力してください</p>
                    <p class="err_msg" id="name_err2">名前は全角で入力してください</p>
                    <input type="text" name="name" id="name_form" onblur="nameCheck()">
                </div>
                <div class="form-kana">
                    <h2 class="column-title">名前カナ</h2>
                    <p class="err_msg" id="kana_err1">カナを入力してください</p>
                    <p class="err_msg" id="kana_err2">カナは全角カナで入力してください</p>
                    <input type="text" name="kana" id="kana_form" onblur="kanaCheck()">
                </div>
            </div>
            <div class="form-phonePost">
                <div class="form-pn">
                    <h2 class="column-title">電話番号</h2>
                    <p class="err_msg" id="pn_err1">電話番号を入力してください</p>
                    <p class="err_msg" id="pn_err2">電話番号は半角数字で入力してください</p>
                    <p class="err_msg" id="pn_err3">電話番号は10桁もしくは11桁で入力してください</p>
                    <input type="text" id="pn_form" maxlength="11" onblur="pnCheck()">
                </div>
                <div class="form-postcode">
                    <h2 class="column-title">郵便番号</h2>
                    <p class="err_msg" id="pc_err1">郵便番号を入力してください</p>
                    <p class="err_msg" id="pc_err2">郵便番号は半角数字で入力してください</p>
                    <p class="err_msg" id="pc_err3">郵便番号は7桁で入力してください</p>
                    <input type="text" id="pc_form" maxlength="7" onblur="pcCheck()">
                </div>
            </div>

            <div class="form-search">
                <button type="button" id="searchBtn" onclick="clickSearchBtn()">検索</button>
            </div>
            </div>
            <table class="srResult-table" id="table1">
                <tr>
                    <th><img onclick="allChange()" class="allChkBox" id="allChkBox" src="images/square-1.jpg"></th>
                    <th class="table-name">お客様名</th>
                    <th class="table-bd">生年月日</th>
                    <th class="table-add">住所</th>
                    <th>案内フラグ</th>
                </tr>
                <tr>
                    <td><img onclick="change1()" class="chkBoxImage" id="chkBox1" src="images/chkBox_off.jpg"></td>
                    <td>山田太郎 (ヤマダタロウ)</td>
                    <td>0000/00/00</td>
                    <td>XX県XX市XX町0-00-00</td>
                    <td th:align=center>未</td>
                </tr>
                <tr>
                    <td><img onclick="change2()" class="chkBoxImage" id="chkBox2" src="images/chkBox_off.jpg"></td>
                    <td>佐藤次郎 (サトウジロウ)</td>
                    <td>0000/00/01</td>
                    <td>XX県XX市XX町0-00-01</td>
                    <td th:align=center>済</td>
                </tr>
                <tr>
                    <td><img onclick="change3()" class="chkBoxImage" id="chkBox3" src="images/chkBox_off.jpg"></td>
                    <td>田中三郎 (タナカサブロウ)</td>
                    <td>0000/00/02</td>
                    <td>XX県XX市XX町0-00-02</td>
                    <td th:align=center>エラー</td>
                </tr>
            </table>

            <div class="button">
                <div class="child-button">
                    <input type="button" onclick="location.href='/'" value="戻る">
                    <input type="submit" value="追加">
                </div>
            </div>
        </form>
    </div>


    <footer>
        <p>フッター</p>
    </footer>
</body>

</html>